<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3 class="mb-5">Reactive forms validation</h3>
      <form [formGroup]="fg" (ngSubmit)="onSubmit($event)">
        <div class="row">
          <!-- Nombre -->
          <div class="col-md-6 mb-3">
            <label for="name">Name <span *ngIf="nameRequired">*</span></label>
            <input id="name" formControlName="name" class="form-control">
            <div class="fw-bold text-danger" *ngIf="fg.get('name')!.hasError('required') && fg.get('name')!.touched">El nombre de usuario es obligatorio.</div>
            <div class="fw-bold text-danger" *ngIf="fg.get('name')!.hasError('minlength') && fg.get('name')!.touched">El nombre de usuario debe tener al menos 5 caracteres.</div>
          </div>

          <!-- Email -->
          <div class="col-md-6 mb-3">
            <label for="email">E-mail <span *ngIf="emailRequired">*</span></label>
            <input id="email" formControlName="email" class="form-control">
            <div class="fw-bold text-danger" *ngIf="fg.get('email')?.hasError('required') && fg.get('email')?.touched">E-mail requerido.</div>
            <div class="fw-bold text-danger" *ngIf="fg.get('email')?.hasError('pattern') && fg.get('email')?.touched">Formato de e-mail incorrecto.
            </div>
            <div class="fw-bold text-danger" *ngIf="fg.get('email')?.hasError('emailTaken') && fg.get('email')?.touched">E-mail ya está en uso.
            </div>

          </div>
        </div>

        <!-- Edad -->
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="age">Age <span *ngIf="ageRequired">*</span></label>
            <input id="age" type="number" formControlName="age" class="form-control">
            <div class="fw-bold text-danger" *ngIf="fg.get('age')!.hasError('required') && fg.get('age')!.touched"
            >La edad es requerida.</div>
            <div class="fw-bold text-danger" *ngIf="fg.get('age')!.hasError('pattern') && fg.get('age')!.touched">La edad debe tener máximo (dos) 2
              dígitos.
            </div>
          </div>
        </div>

        <!-- FDN -->
        <div class="row">
          <div class="col-md-6 mb-5">
            <label for="DOB">Date of Birth <span *ngIf="dobRequired">*</span></label>
            <input id="dob" type="date" formControlName="dob" class="form-control">
            <div class="fw-bold text-danger" *ngIf="fg.get('dob')!.hasError('required') && fg.get('dob')!.touched">La fecha de nacimiento es obligatoria.
            </div>
          </div>
        </div>

        <!-- Switches -->
        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchNameRequired" [checked]="nameRequired" (change)="sNameRequired()">
              <label class="form-check-label" for="flexSwitchNameRequired">Name required</label>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAgeRequired" [checked]="ageRequired" (change)="sAgeRequired()">
              <label class="form-check-label" for="flexSwitchAgeRequired">Age required</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDOBRequired" [checked]="dobRequired" (change)="sDOBRequired()">
              <label class="form-check-label" for="flexSwitchDOBRequired">Date of birth required</label>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEmailRequired" [checked]="emailRequired" (change)="sEmailRequired()">
              <label class="form-check-label" for="flexSwitchEmailRequired">Email required</label>
            </div>
          </div>
        </div>

        <!-- Botón de Envío -->
        <div class="row">
          <div class="col-md-12 text-end">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
